<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Julia/IdeaProjects/RestAssured_TestNg">
        <classes>
            <class name="automation.apitesting.tests.BookingApiRequestTests">
                <methods>
                    <include name="getAllBookings"/>
                    <include name="getBookingByIdAndValidateOverJsonSchema"/>
                    <include name="createBooking"/>
                    <include name="createBookingFromFile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>